@import url(normalize.css);

body {
	background-color: #ffffff;
	font-family: 'Roboto Condensed';
	font-size: 1.25rem;	
	border: 0;
}

header, main, footer {
    flex: 1 1 100%;
	border: 0;
}

article {
    flex: 1 1 100%;
	border: 0;
}

article > h1 {
   display: block;
   margin: 0 auto;
   text-align: center;
   font-size: 1em;
   padding: 20px;
}

.container > * {	
	margin: 0;
	border: 0;
}

footer {
	text-align:center;
	background-color: rgba(0, 0, 0, 0.3);
}

footer > p {
	color: black;
	text-transform: none;	
	margin: 100px;
	margin-bottom: 0px;
	height: auto;
}

@media only screen and (min-width: 20em) { /* 320px */

.content{
	display: block;
}

.content article {
	display: block;	
	max-width: 70%;
	margin: 0 auto;	
	height: 100%;
	margin-top: 30px;
	text-align: center;
	border: 2px solid red;
	padding: 20px;
	border-radius: 50px 20px;  
}

.content article > img {
	display: flex;
	width: 50%;
	margin: 0 auto; 
	height: auto;
}

.content article > p {
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	list-style-position: inside;
	display: flex;
	color: black;
	font-size: 0.8em;  
}

.info article > section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	border: 2px solid rgba(0,0,0,0.2);	
	max-width: 90%;
	margin-top: 150px;
	height: 800px;
	margin: 0 auto;
	padding: 0;
	text-align: center; 
}

.info article > section > div[class^="foto"] { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: -80px;
	justify-content: center;
	align-items: center;
}

.info article > section > div > img {	
	display: flex;
	width: 50%;	  
	align-items: center;
	justify-content: center;
}


.info article > section > div > h2 {	
	display: flex;
	align-items: flex-start;
	font-size: 1em;
}

.info article > section > p {
	display: flex;
	padding: 0;
	justify-content: center;
	align-self: center;
	margin-top: 50px;
	text-align: left;
	font-size: 0.7em;
	width: 200px;
	height: auto;
	list-style-position: inside;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}
}

@media only screen and (min-width: 30em) {

.content{
	display: block;
}

.content article {
	display: block;	
	max-width: 70%;
	margin: 0 auto;	
	margin-top: 30px;
	height: 100%;
	text-align: center;
	border: 2px solid red;
	padding: 50px;
	border-radius: 50px 20px;  
}

.content article > img {
	display: flex;
	width: 50%;
	margin: 0 auto; 
	height: auto;
}

.content article > p {
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	list-style-position: inside;
	display: flex;
	color: black;
	font-size: 0.8em;  
}

.info article > section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 2px solid rgba(0,0,0,0.2);	
	max-width: 50%;
	margin-top: 0px;
	height: 250px;
	margin: 0 auto;
	padding: 100px;
	text-align: center; 
}

.info article > section > div[class^="foto"] { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: -100px;
	justify-content: center;
	align-items: center;
}

.info article > section > div > img {	
	display: flex;
	width: 80%;	  
	align-items: center;
	justify-content: center;
}

.info article > section > div > h2 {	
	display: flex;
	align-items: flex-start;
	font-size: 1em;
}

.info article > section > p {
	display: flex;
	padding: 0;
	margin-top: -10px;
	margin-left: 0px;
	text-align: left;
	font-size: 0.7em;
	width: 600px;
	height: 50px;
	list-style-position: inside;
}
}

@media only screen and (min-width: 40em) { /* 640px */

.content{
	display: block;
}

.content article {
	display: block;	
	max-width: 70%;
	margin: 0 auto;	
	margin-top: 30px;
	height: 100%;
	text-align: center;
	border: 2px solid red;
	padding: 50px;
	border-radius: 50px 20px;  
}

.content article > img {
	display: flex;
	width: 50%;
	margin: 0 auto; 
	height: auto;
}

.content article > p {
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	list-style-position: inside;
	display: flex;
	color: black;
	font-size: 1em;  
}

.info article > section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 2px solid rgba(0,0,0,0.2);	
	max-width: 50%;
	margin-top: 0px;
	height: 300px;
	margin: 0 auto;
	padding: 100px;
	text-align: center; 
}

.info article > section > div[class^="foto"] { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: -100px;
	justify-content: center;
	align-items: center;
}

.info article > section > div > img {	
	display: flex;
	width: 80%;	  
	align-items: center;
	justify-content: center;
}

.info article > section > div > h2 {	
	display: flex;
	align-items: flex-start;
	font-size: 1em;
}

.info article > section > p {
	display: flex;
	padding: 0;
	margin-top: -50px;
	margin-left: 0px;
	text-align: left;
	font-size: 0.8em;
	width: 500px;
	height: 50px;
	list-style-position: inside;
}
}